{
  "edit-id": "switchport_bool",
  "operation": "merge",
  "target": "/interface/{{ interface_type }}={{ interface_name }}/switchport-conf/switchport",
  "value": {
    "Cisco-IOS-XE-native:switchport": false
  }
},
{
  "edit-id": "remove_switchport_config",
  "operation": "remove",
  "target": "/interface/{{ interface_type }}={{ interface_name }}/switchport-config/switchport"
}{% if (interface_ip4_address is defined and interface_ip4_address) and
       (interface_ip4_mask is defined and interface_ip4_mask) %},
{
  "edit-id": "set_ip4_address",
  "operation": "merge",
  "target": "/interface/{{ interface_type }}={{ interface_name }}/ip",
  "value": {
    "Cisco-IOS-XE-native:ip": {
      "address": {
        "primary": {
          "address": "{{ interface_ip4_address }}",
          "mask": "{{ interface_ip4_mask }}"
        }
      }
    }
  }
}{% endif %}